/* Common Styles */

.container {
	width: 340px;
}

.alert-top {
	font-weight: bold;
}

#donationAmountAlert {
	font-style: italic;
}

.apple-pay-button {
	/*display: none;*/
	display: block;
	background-color: black;
	background-image: -webkit-named-image(apple-pay-logo-white);
	background-size: 100% 100%;
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 100%;
	height: 44px;
	padding: 10px 0;
	border-radius: 10px;
}

.credit-pay-button {
	display: block;
	background-color: white;
	background-size: 100% 100%;
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 100%;
	height: 44px;
	padding: 10px 0;
	border-radius: 10px;
}

.express-button {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	width: 60px;
}

.express-button-row {
	margin-left: 0px;
}