<!DOCTYPE html>
<!--suppress JSUnresolvedLibraryURL -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Contribute</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="styles.css"/>
</head>
<body>

<script src="https://checkout.stripe.com/checkout.js" type="text/javascript"></script>
<script src="https://js.stripe.com/v2/" type="text/javascript"></script>

<div th:include="templates :: js"></div>
<div th:include="templates :: container" class="container"></div>
<div th:include="templates :: dialogs"></div>

<script src="webjars/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
<script src="app.js" type="text/javascript"></script>
<script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript"></script>

</body>
</html>