<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>

<span th:fragment="js">
	<script th:inline="javascript">
	/*<![CDATA[*/

	var _DonationPage_collectOccupationEnabled = /*[[${collectOccupationEnabled}]]*/ true;
	var _DonationPage_collectOccupationThreshold = /*[[${collectOccupationThreshold}]]*/ 100;
	var _DonationPage_donationLimit = /*[[${donationLimit}]]*/ -1;

	/*]]>*/
	</script>
</span>

<div th:fragment="container">
	<div id="alertTop" class="alert-top" role="alert"></div>
	<div class="donation-selection">
		<!--/*@thymesVar id="mainPageUrl" type="string"*/-->
		<!--/*@thymesVar id="siteTitle" type="string"*/-->
		<a th:href="${mainPageUrl}"><h4 th:text="${siteTitle}"></h4></a>
		<h5>Donate:</h5>
		<button id="donateButton_5" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(500, '5');">$5</button>
		<button id="donateButton_10" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(1000, '10');">$10</button>
		<button id="donateButton_27" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(2700, '27');">$27</button>
		<button id="donateButton_50" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(5000, '50');">$50</button>
		<br/>
		<button id="donateButton_100" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(10000, '100');">$100</button>
		<button id="donateButton_200" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(20000, '200');">$200</button>
		<button id="donateButton_300" class="btn btn-primary express-button" onclick="_DonationPage_handleDonate(30000, '300');">$300</button>
		<p>Or, donate a specific amount:</p>
		<form>
			<div id="alertCustomDonation" role="alert" class="hidden alert alert-danger">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span id="alertCustomDonationText"></span>
			</div>
			<fieldset class="form-group">
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="number" class="form-control" id="donationAmount" name="amount" placeholder="Enter amount" style="width:150px" min="1"/>
					<button id="donateButton_custom" class="btn btn-primary" style="margin-left: -2px;">Donate</button>
				</div>
			</fieldset>
		</form>
		<p>Occupation:</p>
		<form>
			<!--<fieldset class="form-group">
				<div class="input-group">-->
			<div id="alertOccupation" role="alert" class="hidden alert alert-danger">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<span class="sr-only">Error:</span>
				<span id="alertOccupationText"></span>
			</div>
			<input class="form-control" id="occupationInput" placeholder="Enter occupation" style="width:250px"/>
				<!--</div>
			</fieldset>-->
		</form>
	</div>
</div>

<div th:fragment="dialogs">
	<div id="errorDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Payment Failed</h4>
				</div>
				<div class="modal-body">
					<p id="errorMessage"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="processingPaymentDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Processing your payment...</h4>
				</div>
				<!--
				<div class="modal-body">
				</div>
				-->
			</div>
		</div>
	</div>

	<div id="multi-pay-options" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 align="center">Choose payment method</h3>
					<h4 align="center">(Apple Pay or Credit Card)</h4>
					<br/>
					<button id="apple-pay-button" class="apple-pay-button"></button>
					<br/>
					<button id="credit-pay-button" type="button" class="credit-pay-button btn btn-default" aria-label="Center Align">
						<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
						Credit Card
					</button>
					<br/>
					<button id="cancel-button" type="button" class="credit-pay-button btn btn-default" aria-label="Center Align">
						<!--<span class="glyphicon" aria-hidden="true"></span>-->
						Cancel
					</button>
					<br/>
					<br/>
					<div id="donationAmountAlert" class="alert alert-info" role="alert"></div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>