<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<!--/*@thymesVar id="mainPageUrl" type="string"*/-->
<!--/*@thymesVar id="siteTitle" type="string"*/-->
<!--/*@thymesVar id="pagePurpose" type="java.lang.String"*/-->
<!--/*@thymesVar id="pagePurposeText" type="java.lang.String"*/-->
<!--/*@thymesVar id="collectOccupationEnabled" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="allowSpecificAmount" type="java.lang.Boolean"*/--><!-- Default: true -->
<!--/*@thymesVar id="donateButtonsEnabled" type="java.lang.Boolean"*/--><!-- Default: true -->
<!--/*@thymesVar id="payDuesPage" type="java.lang.Boolean"*/--><!-- Default: false -->
<body>

<span th:fragment="js">
	<script th:inline="javascript">
	/*<![CDATA[*/

	if (typeof _DONATION_PAGE_APP_ === 'undefined') { var _DONATION_PAGE_APP_ = {}; }

	_DONATION_PAGE_APP_.collectOccupationEnabled = /*[[${collectOccupationEnabled}]]*/ true;
	_DONATION_PAGE_APP_.collectOccupationThreshold = /*[[${collectOccupationThreshold}]]*/ 100;
	_DONATION_PAGE_APP_.donationLimit = /*[[${donationLimit}]]*/ -1;
	_DONATION_PAGE_APP_.payDuesPage = /*[[${payDuesPage}]]*/ false;
	_DONATION_PAGE_APP_.pagePurpose = /*[[${pagePurpose}]]*/ "donation";

	/*]]>*/
	</script>
</span>

<div th:fragment="container">
	<div id="alertTop" class="alert-top" role="alert"></div>
	<div class="donation-selection">
		<div class="well well-sm" style="text-align: center">
			<h4 class="display-3" th:text="${pagePurposeText}">Contribute to</h4>
			<a th:href="${mainPageUrl}" class="site-title"><h4 th:text="${siteTitle}"></h4></a>
		</div>
		<div th:if="${collectOccupationEnabled}">
			<h5>Occupation or Business Type:</h5>
			<form>
				<!--<fieldset class="form-group">
					<div class="input-group">-->
				<div id="alertOccupation" role="alert" class="hidden alert alert-danger">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					<span id="alertOccupationText"></span>
				</div>
				<input class="form-control" id="occupationInput" placeholder="Enter occupation or business type" style="width:250px"/>
				<!--</div>
			</fieldset>-->
			</form>
		</div>
		<div th:if="${donateButtonsEnabled == null or donateButtonsEnabled}">
			<h5>Amount:</h5>
			<div class="row express-button-row">
				<button id="donateButton_5" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(500, '5');">$5</button>
				<button id="donateButton_10" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(1000, '10');">$10</button>
				<button id="donateButton_18" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(1800, '18');">$18</button>
				<button id="donateButton_27" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(2700, '27');">$27</button>
			</div>
			<div class="row express-button-row">
				<button id="donateButton_50" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(5000, '50');">$50</button>
				<button id="donateButton_100" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(10000, '100');">$100</button>
				<button id="donateButton_200" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(20000, '200');">$200</button>
				<button id="donateButton_300" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(30000, '300');">$300</button>
			</div>
		</div>
		<div th:if="${payDuesPage != null and payDuesPage}">
			<h5>Press button to pay dues:</h5>
			<div class="row express-button-row">
				<button id="payDuesButton" class="col-sm-1 btn btn-primary express-button" onclick="_DonationPage_handleDonate(2700, '27');">$27</button>
			</div>
		</div>
		<div th:if="${allowSpecificAmount == null || allowSpecificAmount}">
			<h5>Or a specific amount:</h5>
			<form>
				<div id="alertCustomDonation" role="alert" class="hidden alert alert-danger">
					<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
					<span class="sr-only">Error:</span>
					<span id="alertCustomDonationText"></span>
				</div>
				<fieldset class="form-group">
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" class="form-control" id="donationAmount" name="amount" placeholder="Enter amount" style="width:150px" min="1"/>
						<button id="donateButton_custom" class="btn btn-primary" style="margin-left: -2px;">Donate</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<br/>
	<br/>
	<div>
		<p class="text-muted"><small>Apple Pay available in Safari web browser only (on supported devices and operating system versions).</small></p>
	</div>
</div>

<div th:fragment="dialogs">
	<div id="errorDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Payment Failed</h4>
				</div>
				<div class="modal-body">
					<p id="errorMessage"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<div id="processingPaymentDialog" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Processing your payment...</h4>
				</div>
				<!--
				<div class="modal-body">
				</div>
				-->
			</div>
		</div>
	</div>

	<div id="multi-pay-options" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h3 align="center">Choose payment method</h3>
					<h4 align="center">(Apple Pay or Credit Card)</h4>
					<br/>
					<button id="apple-pay-button" class="apple-pay-button"></button>
					<br/>
					<button id="credit-pay-button" type="button" class="credit-pay-button btn btn-default" aria-label="Center Align">
						<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
						Credit Card
					</button>
					<br/>
					<button id="cancel-button" type="button" class="credit-pay-button btn btn-default" aria-label="Center Align">
						<!--<span class="glyphicon" aria-hidden="true"></span>-->
						Cancel
					</button>
					<br/>
					<br/>
					<div id="donationAmountAlert" class="alert alert-info" role="alert"></div>

				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>